@using Microsoft.AspNetCore.Identity
@using SportDomain.Identity

@inject SignInManager<BetUser> SignInManager
@inject UserManager<BetUser> UserManager
@model IEnumerable<SportDomain.models.VirtualCurrency>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.currencyAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                DetialsTab
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.currencyAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.BetUser.Id)
                    </td>
                }

            <td>
                    @if(User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    }

                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
<h3 style="margin-top: 20px; font-weight: bold;">
    Total Virtual Currency: @ViewBag.TotalCurrency
</h3>
